<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66e06f">  <td>20/04/09 17:06:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginToBeyondHrValidCredentials(java.lang.String, java.lang.String)[pri:0, instance:com.beyondhr.tests.LoginTest@53d102a2]">loginToBeyondHrValidCredentials</td> 
  <td>main@990679445</td>   <td></td> </tr>
<tr bgcolor="66e06f">  <td>20/04/09 17:06:39</td>   <td>-4700</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUp()[pri:0, instance:com.beyondhr.tests.LoginTest@53d102a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@990679445</td>   <td></td> </tr>
</table>
